{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    {% block body_inner %}
        <div class="large-8 columns">
            <h1>Add comment for blog post "{{ commment.blog.title }}</h1>
            {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
        </div>
    {% endblock %}
{% endblock %}