body {
  background: transparent url(../images/bg.png);
}

/* Header */
#header {
  overflow: hidden;
  background: #ededed url(../images/header-bg.gif) repeat-x;

  header,
  nav {
    overflow: hidden;
  }

  h1 {
    font-family: titrebook;
    float: left;
    margin: 34px 0 0 0;
    font-size: rem-calc(40);
    color: $dirty-red;
  }

  nav {
    margin-top: 32px;

    div {
      height: 93px;
    }

    ul {
      float: right;
      margin: 26px 0 0 0;
    }

    li {
      float: left;
      list-style: none;
      margin-left: 10px;

      a {
        font-family: openSansRegular;
        font-size: rem-calc(16);
        color: $dark-red;

        &:hover {
          color: lighten($dark-red, 20);
        }
      }
    }
  }
}