.sidebar {

  .tags {
    .weight-1 { font-size: rem-calc(12); }
    .weight-2 { font-size: rem-calc(15); }
    .weight-3 { font-size: rem-calc(18); }
    .weight-4 { font-size: rem-calc(21); }
    .weight-5 { font-size: rem-calc(24); }
  }
}