$dirty-red: #8f6868;
$dark-red: #703030;
$dark-grey: #2d2d2d;
$light-grey: #ccc;
$cream: #e3cda4;
$white: #fff;

// Fonts
$font-main: 1px;
$font-secondary: 1px;
$font-tertiary: 1px;
$blockquote: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

// Mixin variables
$defined-bs-type: border-box;